{% extends 'template.html.twig' %}

{% block titlepage %} "__home.about.title__" {% endblock %}

{% block content %}

	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h1>"__home.about__"</h1>
		</div>
	</div>

{% endblock %}

