{% extends 'template.static.html.twig' %}

{% block titlepage %} __home.inscription__ {% endblock %}

{% block contentpage %}
	<p>__home.inscription.p1__</p>
	<h5>__home.inscription.condition__</h5>
	<ul>
		<li>__home.inscription.cond1__</li>
		<li>__home.inscription.cond2__</li>
		<li>__home.inscription.cond3__</li>
		<li>__home.inscription.cond4__</li>
		<li>__home.inscription.cond5__</li>
	</ul>
	<p>__home.inscription.p2__</p>
	<p>__home.inscription.p3__</p>
	<a class="d-block text-center" href="https://pau-au.net/en/admissions/admission-procedure">__home.inscription.a__</a>
{% endblock %}
