{% extends 'template.static.html.twig' %}

{% block titlepage %} Inscription {% endblock %}

{% block contentpage %}
	<p>Les jeunes candidats qualifiés, talentueux et entreprenants des Etats membres de l’Union Africaine sont invités à postuler dès maintenant pour l’année universitaire 2017-2018. Le programme commence en octobre 2017.</p>
	<h5>Les candidats doivent remplir les conditions suivantes :</h5>
	<ul>
		<li>Avoir un Diplôme de premier cycle d’une université reconnue (avec au moins une division supérieure de deuxième classe ou son équivalent)</li>
		<li>Avoir suivi une formation académique en sciences, en ingénierie ou dans un domaine apparenté (pour la formation en ingénierie)</li>
		<li>Avoir suivi une formation académique en sciences sociales, en sciences économiques, en gestion ou dans un domaine connexe (pour la formation en politiques)</li>
		<li>Parler couramment l’anglais, le français sera un plus</li>
		<li>Pas plus de 30 ans pour les candidats hommes et 35 ans pour les candidates féminins</li>
	</ul>
	<p>Les femmes sont particulièrement encouragées à postuler.</p>
	<p>Nous accepterons uniquement les candidatures en ligne qui sont complètes et qui ont été envoyées avant la date limite.</p>
	<a class="d-block text-center" href="https://pau-au.net/en/admissions/admission-procedure">Comment postuler</a>
{% endblock %}
