{% extends 'template.static.html.twig' %}

{% block titlepage %} Bourses d'Etudes {% endblock %}

{% block contentpage %}
	<p>Une aide financière généreuse est accordée aux meilleurs étudiants, comprenant :</p>
	<ul>
		<li>Une bourse couvrant les frais de scolarité annuels</li>
		<li>Une allocation mensuelle couvrant les frais de subsistance y compris l’hébergement</li>
		<li>Un billet d’avion - retour</li>
	</ul>
	<p>Les étudiants doivent s’engager à travailler en Afrique, après l’obtention de leur diplôme.</p>
{% endblock %}
