{% extends 'template.static.html.twig' %}

{% block titlepage %} "__home.scholarship.title__" {% endblock %}

{% block contentpage %}
	<p>"__home.scholarship.p1__"</p>
	<ul>
		<li>"__home.scholarship.li1__"</li>
		<li>"__home.scholarship.li2__"</li>
		<li>"__home.scholarship.li3__"r</li>
	</ul>
	<p>"__home.scholarship.p2__"</p>
{% endblock %}
