{% extends 'template.html.twig' %}

{% block titlepage %} __home.howToGo.title__ {% endblock %}

{% block content %}

	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h1>__home.howToGo.h1__</h1>
			<h4>__home.howToGo.firstMean__</h4>
			<p>__home.howToGo.describeFirst__ </p>
			<h4>__home.howToGo.secondMean__</h4>
			<p>__home.howToGo.describeSecond__ </p>
			<h4>__home.howToGo.thirdMean__</h4>
			<p>__home.howToGo.describeThird__ </p>
			<h4>__home.howToGo.AroundCity__</h4>
			<p>__home.howToGo.describeCity__ </p>
		</div>
	</div>

{% endblock %}