{% extends 'template.html.twig' %}

{% block titlepage %} "__home.howToGo.title__" {% endblock %}

{% block content %}

	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h1>Comment s'y rendre</h1>
			<h4>By Airplane</h4
			<p>Tlemcen has an international airport as well as Oran, a city on the Mediterranean Sea, only 140 km away from Tlemcen. Flights are possible from Algiers, Paris, Lyon, Barcelona, Almeria, Marseilles, Montpellier, Casablanca. </p>
			<h4>Shipping Lines and Ferries</h4
			<p>Oran and Algiers can also be reached by international shipping lines and ferries. </p>
			<h4>By Train</h4
			<p>Tlemcen has a railway station. It is well connected by rail to Algiers and Oran. </p>
			<h4>Getting around</h4
			<p>PAUWES is located at the Chetouane campus of technology and science, about  10 mins north-east of the city centre and easy to reach by bus or taxi. Campus facilities within Tlemcen can easily be reached by public transport. </p>
		</div>
	</div>

{% endblock %}