{% extends 'template.html.twig' %}

{% block content %}

	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h1>Contact</h1>
			<h4>Postal Address</h4>
			<p>Pan African University Institute for Water and Energy Sciences (including Climate Change) – PAUWES c/o Abou Bekr Belkaid University of Tlemcen B.P. 119 13000 Tlemcen Algeria</p>
			<h4>Email</h4>
			<ul>
				<li>For general inquiries: contact@pauwes.univ-tlemcen.dz</li>
				<li>For inquiries with regard to admissions and financial aid: admission@pauwes.univ-tlemcen.dz</li>
				<li>For academic position inquiries: jobs@pauwes.univ-tlemcen.dz</li>
			</ul>
			<h4>Phone</h4>
			<ul><li>+213 40 91 31 88</li></ul>
			<h4>Fax</h4>
			<ul><li>+213 43 4104 99</li></ul>
		</div>
	</div>

{% endblock %}

