{% extends 'template.html.twig' %}

{% block titlepage %} "__home.contact.title__" {% endblock %}

{% block content %}

	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h1>Contact</h1>
			<h4>"__home.contact.postalAdress__"</h4>
			<p>"__home.contact.postalAdress__"</p>
			<h4>Email</h4>
			<ul>
				<li>"__home.contact.firstItem__" : contact@pauwes.univ-tlemcen.dz</li>
				<li>"__home.contact.secondtItem__" admission@pauwes.univ-tlemcen.dz</li>
				<li>"__home.contact.thirdItem__" jobs@pauwes.univ-tlemcen.dz</li>
			</ul>
			<h4>"__home.contact.phone__"</h4>
			<ul><li>+213 40 91 31 88</li></ul>
			<h4>Fax</h4>
			<ul><li>+213 43 4104 99</li></ul>
		</div>
	</div>

{% endblock %}

