{% extends 'template.static.html.twig' %}

{% block titlepage %}"__home.corsProf.title__"{% endblock %}

{% block contentpage %}
	<h5>"__home.corpsProf.teacher__"</h5>
	<p>"__home.corpsProf.teacherDescribe__" </p>
	<h5>"__home.corpsProf.International__"</h5>
	<p>"__home.corpsProf.InternationalDescribe__"</p>
	<h5>"__home.corpsProf.research__"</h5>
	<p>"__home.corpsProf.researchDescribe__" </p>

{% endblock %}
