{% extends 'template.html.twig' %}

{% block titlepage %} __home.housing.title__ {% endblock %}

{% block content %}

	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h1>__home.housing.firstTitle__</h1>
			<h4>__home.housing.safe__</h4>
			<p>__home.housing.choice__</p>
		</div>
	</div>

{% endblock %}

