{% extends 'template.html.twig' %}

{% block content %}
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h1>Université PanAfricaine UPA</h1>
			<h4>Recherche et Education pour une Afrique Pacifique, Prospère et Intégrée</h4>
			<p>L’UPA est une initiative lancée par les Chefs d’État Africains et le Gouvernement de l’Union Africaine. Il s’agit du premier réseau universitaire continental dont la mission est de dispenser des études supérieures compréhensives orientées vers le développement d’une Afrique prospère, intégrée et pacifique. L’UPA fait partie d’une initiative continentale visant à revitaliser l’enseignement supérieur et la recherche en Afrique. Elle vise à incarner l’excellence, renforcer l’attractivité et la compétitivité globale de l’enseignement supérieur en Afrique et de la recherche et placer des universités africaines au cœur du développement de l’Afrique. Cinq instituts thématiques mettront en place des programmes de Master et de Doctorat et s’engageront dans des programmes de recherche axés sur la collaboration et le développement. Ils travailleront avec des centres établis dans d’autres régions de l’Afrique, tout en collaborant étroitement avec le secteur économique et la société civile afin d’améliorer leur pertinence et leur contribution à relever les défis locaux. Le système de l’UPA regroupe actuellement des instituts établis au Kenya, au Nigeria, au Cameroun, en Afrique australe et à l’avenir sera étendu à d’autres pays africains. </p>
			<ul>
				<li><a href="http://pau-au.org/">Université PanAfricaine UPA</a></li>
				<li><a href="http://www.jkuat.ac.ke/pauisti/">L’Institut de l’Université PanAfricaine des sciences de base, de la technologie et de l’innovation (PAUSTI) </a>l’Université Jomo Kenyatta de l’agriculture et de la technologie (JKUAT), Juja, Kenya.</li>
				<li><a href="http://paulesi.ui.edu.ng/">L’Institut de l’Université PanAfricaine pour la vie et sciences de la Terre, y compris la santé et l’agriculture (PAULESI)</a>à l’Université d’Ibadan (UI), Ibadan, Nigeria.</li>
				<li>L’Institut de l’Université PanAfricaine de la gouvernance, sciences humaines et sociales (PAUGHSS) l’Université de Yaoundé II, Soa, au Cameroun.</li>
				<li>L’Institut de l’Université PanAfricaine pour l’Eau et l’Energie (y compris le Changement Climatique) (PAUWES) à l’université de Tlemcen, Algérie.</li>
				<li>L’Institut de l’Université PanAfricaine des sciences Spatiales, l’Afrique australe Pays d’accueil et l’université d’accueil restent à déterminer.</li>
			</ul>
		</div>
	</div>

{% endblock %}
