{% extends 'template.html.twig' %}

{% block titlepage %} "__home.highschool.title__" {% endblock %}

{% block content %}
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h1>"__home.highschool.firstTitle__"</h1>
			<h4>"__home.highschool.secondTitle__"</h4>
			<p>"__home.highSchool.paragraph__" </p>
			<ul>
				<li><a href="http://pau-au.org/">"__home.highSchool.firstTextLink__"</a></li>
				<li><a href="http://www.jkuat.ac.ke/pauisti/">"__home.highSchool.secondTextLink__" </a>"__home.highSchool.secondText__"</li>
				<li><a href="http://paulesi.ui.edu.ng/">"__home.highSchool.secondText__"</a>"__home.highSchool.thirdTextLink__"</li>
				<li>"__home.highSchool.fourthText__"</li>
				<li> <a href="/">"__home.highSchool.fifthTextLink__"</a>"__home.highschool.fifthText__"</li>
				<li>"__homr.highschool.sixtText__"</li>
			</ul>
		</div>
	</div>

{% endblock %}
