{% extends 'template.html.twig' %}

{% block titlepage %} "__home.jobs.title__" {% endblock %}

{% block content %}
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h1>"__home.jobs.jobOpportunities__"</h1>
			<ul><li><a href="http://pauwes.univ-tlemcen.dz/wp-content/uploads/2016/06/FinalCallPAUWES_6thSTL_13June2016.pdf">"__home.jobs.firstTextLink__"</a></li></ul>
			<h4>"__home.jobs.howTo__"</h4>
			<p>"__home.jobs.demand__"<a href="http://www.pau-au.org/call/">http://www.pau-au.org/call/</a> "<br>__home.jobs.otherDemand__" <a href="jobs@pauwes.edu.dz">jobs@pauwes.edu.dz</a></p>
			<p>"__home.jobs.provide__"</p>
			<ul>
				<li>"__home.jobs.CoverLetter__"</li>
				<li>"__home.jobs.CV__"</li>
				<li>"__home.jobs.research__"</li>
				<li>"__home.jobs.teachingExp__"</li>
				<li>"__home.jobs.references__"</li>
				<li>"__home.jobs.copies__"</li>
			</ul>
			<h4>"__home.jobs.other__"</h4>
			<p>"__home.jobs.details__"<a href="http://pauwes.univ-tlemcen.dz/">http://pauwes.univ-tlemcen.dz/<a> "__home.jobs.and__" <a href="www.pau-au.org">www.pau-au.org</a>"__home.jobs.adress__"</p>
			
		</div>
	</div>

{% endblock %}
