{% extends 'template.html.twig' %}

{% block content %}
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h1>Possibilités d’Emploi</h1>
			<ul><li><a href="http://pauwes.univ-tlemcen.dz/wp-content/uploads/2016/06/FinalCallPAUWES_6thSTL_13June2016.pdf">Plus d’infos Télécharger l’Appel de candidature pour le Staff Document PDF</a></li></ul>
			<h4>Comment Postuler</h4>
			<p>Pour les postes de membres du personnel académique, présentez votre demande à l’aide de la formule de demande en ligne de PAU à l’adresse suivante : <a href="http://www.pau-au.org/call/">http://www.pau-au.org/call/</a> ou vous pouvez envoyez votre candidature à l’Institut de l’Université PanAfricaine (UPA) pour les Sciences de l’Eau et de l’Energie, (y compris le changement climatique) à l’adresse suivante : <a href="jobs@pauwes.edu.dz">jobs@pauwes.edu.dz</a></p>
			<p>Veuillez fournir :</p>
			<ul>
				<li>Une lettre de motivation en indiquant le poste convoité</li>
				<li>curriculum vitae à jour</li>
				<li>liste des publications et des projets de recherche</li>
				<li>aperçu de l’expérience dans l’enseignement, les subventions, bourses, etc</li>
				<li>le nom de trois personnes susceptibles de fournir des références.</li>
				<li>copies des certificats académiques et lettres de recommandation</li>
			</ul>
			<h4>Renseignements supplémentaires</h4>
			<p>Pour plus de détails sur l’Institut de PAUWES, les programmes d’études et les possibilités d’emploi, veuillez visiter <a href="http://pauwes.univ-tlemcen.dz/">http://pauwes.univ-tlemcen.dz/<a> and <a href="www.pau-au.org">www.pau-au.org</a> Université PanAfricaine Institut de l’Université PanAfricaine pour les Sciences de l’Eau et de l’Energie (y compris le Changement Climatique), PAUWES A l’Université Abou-Bekr Belkaïd de Tlemcen B.P. 119 13000 Tlemcen, Algérie</p>
			
		</div>
	</div>

{% endblock %}
