{% extends 'template.html.twig' %}

{% block titlepage %} "__home.legalNotice.title__" {% endblock %}

{% block content %}
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h1>"__home.legalNotice.firstTitle__"</h1>
			<h4>"__home.legalNotice.secondTitle__"</h4>
			<p>"__home.legalNotice.address__" </p>
			<h4>Email</h4>
			<li> <a href="contact@pauwes.univ-tlemcen.dz"> </a> </li>
			<ul>
				<li>"__home.legalNotice.edited__" PAUWES, GIZ</li>
				<li>Design : DUT Informatique</li>
				<li>"__home.legalNotice.prog__" :DUT Informatique</li>
				<li>"__home.legalNotice.text__" Regine Kreitz, Ellen Thalman</li>
				<li>"__home.legalNotice.photoCred__" Tlemcen University, Mr Hefhaf/Tlemcen University, Michael Gajo/GIZ, michaeljung/Fotolia, paulmz/Fotolia, Piotr Pakuła/Fotolia, Zurijeta/Shutterstock, john michael evan potter/Shutterstock, PhotoSky/Shutterstock, bikeriderinlondon/Shutterstock, Tyler Olson/Shutterstock</li>
			</ul>
		</div>
	</div>

{% endblock %}
