{% extends 'template.html.twig' %}

{% block titlepage %} "__home.masterEnergie.title__" {% endblock %}

{% block content %}
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h1>"__home.masterEnergie.firstTitle__"</h1>
			<img src="/assets/img/masterenergy.gif">
			<p><a href="http://pauwes.univ-tlemcen.dz/wp-content/uploads/2014/03/PAUWES_curriculum_MSc-Energy.pdf">"__home.masterEnergie.dl__"</a> "__home.masterEnergie.Curriculum__"</p>
		</div>
	</div>

{% endblock %}
