{% extends 'template.html.twig' %}

{% block content %}
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h1>Partenaires</h1>
			<h4>Partenaire algérien</h4>
			<ul>
				<li><a href="https://www.mesrs.dz/de">Ministère de l’Enseignement du Supérieur et de la Recherche Scientifique</a></li>
				<li><a href="http://www.univ-tlemcen.dz/">Université de Tlemcen</a> Université Abou Bekr Belkaid, Tlemcen</li>
			</ul>
			<h4>Partenaire africain</h4>
			<ul>
				<li><a href="http://www.jkuat.ac.ke/pauisti/">L’Institut de l’Université PanAfricaine des sciences de base, de la technologie et de l’innovation (PAUSTI)</a> à l’Université Jomo Kenyatta de l’agriculture et de la technologie (JKUAT), Juja, Kenya.</li>
				<li><a href="http://paulesi.ui.edu.ng/">L’Institut de l’Université PanAfricaine pour la vie et sciences de la Terre, y compris la santé et l’agriculture (PAULESI)</a> à l’Université d’Ibadan (UI), Ibadan, Nigeria.</li>
				<li>L’Institut de l’Université PanAfricaine de la gouvernance, sciences humaines et sociales (PAUGHSS) à l’Université de Yaoundé II, Soa, au Cameroun.</li>
				<li>L’Institut de l’Université PanAfricaine pour l’Eau et l’Energie (y compris le Changement Climatique) (PAUWES) à l’université de Tlemcen, Algérie</li>
			</ul>
			<h4>Coopération allemande</h4>
			<ul>
				<li><a href="http://www.giz.de/en/html/index.html">L’Agence Allemande de Développement, GIZ</a> Deutsche Gesellschaft für Internationale Zusammenarbeit</li>
				<li><a href="https://www.kfw-entwicklungsbank.de/International-financing/KfW-Entwicklungsbank/"> KfW Banque de développement</a>Kredit für Wiederaufbau</li>
				<li><a href="https://www.daad.de/en/">DAAD</a> Deutscher Akademischer Austauschdienst</li>
			</ul>
			
		</div>
	</div>

{% endblock %}
