{% extends 'template.html.twig' %}

{% block titlepage %} "__home.partners.title__" {% endblock %}

{% block content %}
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h1>"__home.partners.firstTitle__"</h1>
			<h4>"__home.partners.alge__"</h4>
			<ul>
				<li><a href="https://www.mesrs.dz/de">"__home.partners.ministry__"</a></li>
				<li><a href="http://www.univ-tlemcen.dz/">"__home.partners.univLink__"</a>"__home.partners.univText__"</li>
			</ul>
			<h4>"__home.partners.africa__"</h4>
			<ul>
				<li><a href="http://www.jkuat.ac.ke/pauisti/">"__home.partners.innovation__"</a>"__home.partners.innovationText__"</li>

				<li><a href="http://paulesi.ui.edu.ng/">"__home.partners.health__"</a>"__home.partners.healthText__"</li>

				<li>"__home.partners.humanSciences__"</li>
			</ul>
			<h4>"__home.partners.german__"</h4>
			<ul>
				<li><a href="http://www.giz.de/en/html/index.html">"__home.partners.giz__", GIZ</a> Deutsche Gesellschaft für Internationale Zusammenarbeit</li>
				<li><a href="https://www.kfw-entwicklungsbank.de/International-financing/KfW-Entwicklungsbank/">"__home.partners.bank__"</a>Kredit für Wiederaufbau</li>
				<li><a href="https://www.daad.de/en/">DAAD</a> Deutscher Akademischer Austauschdienst</li>
			</ul>
			
		</div>
	</div>

{% endblock %}
