{% extends 'template.html.twig' %}

{% block content %}

	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h1>Perspective de carrière</h1>
			<h4>A Broad Variety of Career Opportunities</h4>
			<p>After graduation, students are qualified to pursue a variety of careers. We equip them to become future leaders in their area of expertise, committed to fostering African solutions for Africa’s development. Some may choose to continue with a PhD programme. Others become researchers in public and private institutions, consultants, public administrators and experts in areas such as integrated water resource management, sanitation and health, water for agriculture, transportation services or renewable energy. </p>
			<h4>Cultivating Ideas – PAUWES Incubation Centre</h4>
			<p>The institute’s business and product incubation centre will offer students the chance to bring their ideas to fruition. With the support of the private and public sectors, students can develop and nurture start-ups. </p>
			<h4>Applied sciences</h4>
			<p>All study programmes also include compulsory internships and hands-on experiences. </p>
			<h4>A Lifelong Professional Network</h4>
			<p>International faculty and experts from the public and private sectors and nongovernmental organisations lay the foundation for a lifelong professional network. </p>
		</div>
	</div>

{% endblock %}
