{% extends 'template.html.twig' %}

{% block titlepage %} __home.perspective.title__ {% endblock %}

{% block content %}

	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h1>__home.perspective.firstTitle__</h1>
			<h4>__home.perspective.variety__</h4>
			<p>__home.perspective.afterGraduate__</p>
			<h4>__home.perspective.cultivating__</h>
			<p>__home.perspective.incubator__</p>
			<h4>__home.perspective.applied__</h4>
			<p>__home.perspective.experience__</p>
			<h4>__home.perspective.network__</h4>
			<p>__home.perspective.experts__</p>
		</div>
	</div>

{% endblock %}
