{% extends 'template.html.twig' %}

{% block content %}

	<div class="mt-5 row">

		<table class="col-12 col-lg-10 offset-lg-1 text-center table table-dark" style="display: overflow;">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Lundi</th>
					<th scope="col">Mardi</th>
					<th scope="col">Mercredi</th>
					<th scope="col">Jeudi</th>
					<th scope="col">Vendredi</th>
					<th scope="col">Samedi</th>
				</tr>
			</thead>
			<tbody id="cald">
			</tbody>
		</table>

	</div>

{% endblock %}

{% block javascript %}
	var cal = document.getElementById("cald");

	for (i = 8; i <= 17; i++){
		var tr = document.createElement("tr");
		var th = document.createElement("th")
		th.setAttribute("scope", "row");
		th.innerText = i + "h - " + (i+1) + "h";

		tr.appendChild(th);

		for (j = 0; j < 6; j++){
			a = document.createElement("td");
			a.innerText = "Cours" + i +"/" +j;
	  		tr.appendChild(a);
		}

	 	cal.appendChild(tr);
	}

{% endblock %}

