{% extends 'template.html.twig' %}

{% block content %}

	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h1>Université</h1>
			<p>The Abou-Bekr Belkaïd University of Tlemcen is one of Algeria’s premier universities. Founded in 1989, it offers extensive, state-of-the art infrastructure for modern learning, accomodating 42,000 students. It has 8 faculties and 2 elite schools for Science and Technology and Economic Science. </p>
		</div>
	</div>

{% endblock %}

