{% extends 'template.html.twig' %}

{% block titlepage %} "__home.univTlemcen.title__" {% endblock %}

{% block content %}

	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h1>"__home.univTlemcen.firstTitle__"</h1>
			<p>"__home.univTlemcen.paragraph__"</p>
		</div>
	</div>

{% endblock %}

