{% extends 'template.html.twig' %}

{% block content %}

	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h1>Ville</h1>
			<h4>Welcome to Tlemcen</h4>
			<p>The historical city of Tlemcen, with some 200,000 inhabitants, takes its name from the Berber word for “water springs.” Its pleasant climate and Mediterranean flair, proximity to the sea, and cultural diversity make it an attractive city for visitors from many parts of the world. Tlemcen has a rich history and many things to do and see, especially since it was the Islamic Cultural Capital in 2012. The beautifully renovated El Mechouar Palace is definitely worth a visit, and so is the Lalla Setti Plateau and lookout which also attracts many locals during the holiday seasons. For more good views, try the cable car (telepherique) which connects the inner city gardens with the plateau. </p>
			<h4>A Mediterranean Gem</h4>
			<p>Further things to see and do include the Grand Mosque, the El Ourit waterfall, Eiffel bridge and grottes of Beni Ad which are only a short drive away. In summer, the nearby Marsa Ben M’Hidi beach (approx.40 km) makes the Mediterranean feel complete. If you want to dive into Algerian culture, there are many good restaurants, small shops and hidden treasures such as the traditional baths (hammam). Tlemcenians are open, friendly and hospitable and Tlemcen’s tranquil atmosphere provides an ideal environment for your studies. </p>
			<p><a href="http://tlemcen-dz.com">More information: http://www.tlemcen-dz.com</a></p>
		</div>
	</div>

{% endblock %}