{% extends 'template.html.twig' %}

{% block titlepage % } __home.ville.title__ {% endblock %}

{% block content %}

	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h1>__home.ville.ville__</h1>
			<h4>__home.ville.welcome__</h4>
			<p>__home.ville.historical__</p>
			<h4>__home.ville.Mediterranean__"</h4>
			<p>__home.ville.MediterraneanDescrible__</p>
			<p>__home.ville.more__<a href="http://tlemcen-dz.com">http://www.tlemcen-dz.com</a></p>
		</div>
	</div>

{% endblock %}