{% extends 'template.html.twig' %}

{% block content %}
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h1>Bienvenue</h1>
			<p>Bienvenue à l’Institut de Université PanAfricaine pour les Sciences de l’Eau et de l’Energie (y compris le changement climatique) ( PAUWES ), un nouveau centre excitant d’excellence à l’Université de Tlemcen en Algérie . Qui doit son existence à la Commission de l’Union Africaine réunie en 2008, l’Université PanAfricaine (UPA) s’inspire de la vision d’une Afrique dirigée par ses propres citoyens tout en constituant une force dynamique sur la scène internationale. PAUWES offre deux programmes d’études supérieures de calibre mondial dans lesquels les étudiants relèvent les défis de développement les plus pressants actuellement. L’approvisionnement suffisant en eau et les sources d’énergie novatrices sont d’une importance capitale pour l’avenir de la croissance durable sur le continent africain. L’institut est à la recherche d’une nouvelle génération composée d’étudiants hautement qualifiés et bien formés qui sont dévoués à l’esprit de cet objectif. Les meilleurs diplômés de l’Afrique sont invités à participer à ce programme de Master très innovant, collaboratif, fondé sur les dernières nouveautés de l’apprentissage théorique et pratique. Chaque programme de Master en sciences de l’eau et de l’énergie offre une piste en sciences politiques et une autre en ingénierie, conférant un diplôme conjoint délivré par l’Université PanAfricaine et l’Université de Tlemcen. Les étudiants reçoivent des cours dispensés par des éducateurs de renom, issus des universités africaines et de la communauté universitaire internationale. Ils ont accès à toutes les nouvelles installations de haute technologie dotées d’un système de recherche à la fine pointe et d’un corps professoral qualifié. Soutenu par la coopération avec d’autres établissements d’enseignement supérieur et de la recherche sur le continent et au-delà, l’Institut bénéficie également d’un réseau professionnel des acteurs relevant du public, privé et de la société civile. Les participants sont invités à associer activement leurs propres idées novatrices au centre d’incubation au sein de l’institut. Notre objectif est de marquer l’avènement d’une nouvelle génération de dirigeants, bien armée pour exploiter la richesse des ressources humaines et naturelles de l’Afrique, imprégnée d’une vision commune d’une Afrique pacifique, prospère et intégrée. Si vous êtes excité par la perspective de rejoindre un groupe d’étudiants dynamiques venant des quatre coins du continent africain, unis pour atteindre cet objectif commun, nous nous réjouissons à l’idée de recevoir votre candidature. </p>
			<ul>
				<li><a href="http://www.au.int/en/commission">Commission de l'Union Africaine</a></li>
				<li><a href="http://www.pau-au.org/">Université PanAfricaine UPA</a></li>
			</ul>
		</div>
	</div>

{% endblock %}
