{% extends 'template.html.twig' %}

{% block titlepage %} __home.welcome.title__ {% endblock %}

{% block content %}
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h1__home.welcome.firstTitle__</h1>
			<p>__home.welcome.paragraph__</p>
			<ul>
				<li><a href="http://www.au.int/en/commission">__home.welcome.africanCommission__</a></li>
				<li><a href="http://www.pau-au.org/">__home.welcome.pau__</a></li>
			</ul>
		</div>
	</div>

{% endblock %}
