#warn{
	display : none;
}

table {
	display: none;
}

tr {
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: green;
}

#absButton {
	display: none;
}

#fin {
	display: none;
}

#returnButton {
	display : none;
}