@media screen and (min-width: 1024px) {
	html, body {
		height: 100%;
	}
}

.menuicon a:link, .menuicon a:visited, .menuicon a:hover, .menuicon a:active {
    text-decoration: none;
    color: #ecf0f1;
}
