{% extends 'template.html.twig' %}

{% block content %}
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h1>Corps Professoral</h1>
			<h4>Professeurs de Renommée et Praticiens Expérimentés</h4>
			<p>L’enseignement est dispensé par des universitaires de renommée internationale, ainsi que des experts appartenant aux secteur public et privé et aux organisations non gouvernementales, tout en soutenant l’approche interdisciplinaire de l’institut. </p>
			<h4>Une Perspective Internationale</h4>
			<p>Les rangs du corps professoral de l’institut regroupent des universitaires de renom et des praticiens de toute l’Afrique, de la Diaspora africaine et du monde entier. </p>
			<h4>Soutien aux étudiants pour acquérir la recherche et l’innovation</h4>
			<p>Le corps professoral et le personnel de PAUWES reflètent la vision, les objectifs et les normes de qualité du système de l’Université PanAfricaine. Unis dans leur objectif de former une nouvelle génération de dirigeants africains, revitaliser l’enseignement supérieur et la recherche dans la région et de dynamiser le marché du travail, le corps professoral de l’institut travaille en étroite collaboration avec les étudiants pour développer leur expertise et soutenir la créativité et l’innovation. </p>
		</div>
	</div>

{% endblock %}

