{% extends 'template.html.twig' %}

{% block content %}

	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h1>Hebergement</h1>
			<h4>Safe and Comfortable Places to Stay</h4>
			<p>PAUWES students can chose between two modern halls of residence. One is located close to the campus, one close to the city centre. Comfortable apartments include cooking and washing facilities, reliable electricity and internet as well as secured housing. Alternatively, private  apartments are available.</p>
		</div>
	</div>

{% endblock %}

