{% extends 'template.html.twig' %}

{% block content %}

	{% for new in news %}
		<div class="row indexNewsList">
			<div class="col-sm-10 offset-sm-1 card">
				<div class="card-header">
					<div class="row">
						<h4 class="col-sm-10">{{ new.nomEvenement }}</h4>
						<h4 class="col-sm-2 text-muted newsDate"> {{ new.datePublication }}</h4>
					</div>
				</div>
				<div class="card-body">
					<p class="card-text">{{ new.description }}</p>
					<a href="#" class="offset-sm-10 btn btn-primary">En savoir plus</a>
				</div>
			</div>
		</div>
	{% endfor %}

	<nav aria-label="Page navigation example">
	  	<ul class="pagination justify-content-center">
	    	<li class="page-item disabled"><a class="page-link" href="#" tabindex="-1">Previous</a></li>
	    	<li class="page-item active"><a class="page-link" href="#">1</a></li>
	    	<li class="page-item"><a class="page-link" href="#">2</a></li>
	    	<li class="page-item"><a class="page-link" href="#">3</a></li>
	    	<li class="page-item"><a class="page-link" href="#">Next</a></li>
	 	 </ul>
	</nav>
	
{% endblock %}
