{% extends 'template.html.twig' %}

{% block content %}
	<div class="row">
		<div class="col-10 offset-1 text-justify">
			<h3 class="w-100 text-center"> {% block titlepage %} {% endblock %} </h3>
			{% block contentpage %}
			{% endblock %}
		</div>
	</div>
{% endblock %}
