<!doctype html>
<html>
	<head>
		<title>Accueil - Université PanAfricaine - L'Institut des Sciences de l'Eau et de l'Energie</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        {% block stylesheets %}
		{% endblock %}
	</head>

	<body>
<div class="container back">
	<!-- logo -->
	<div class="row">
		<div class="col-md-3">

			<img src="assets/img/logo.png"  class="img-fluid" alt="Responsive image">

		</div>
		<div class="offset-6 col-3">
			{{ form | raw }}
		</div>
	</div>
	<!-- navbar principale-->
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarTogglerDemo01">
			<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
				<li class="nav-item active"><a class="nav-link" href="index.php">Accueil<span class="sr-only">(current)</span></a></li>
				<li class="nav-item"><a class="nav-link" href="#">Programme d'Etudes</a></li>
				<li class="nav-item"><a class="nav-link" href="#">Inscription</a></li>
				<li class="nav-item"><a class="nav-link" href="#">Bourses d'Etudes</a></li>
				<li class="nav-item"><a class="nav-link" href="#">Corps Professoral</a></li>
				<li class="nav-item"><a class="nav-link" href="#">Vie sur le campus</a></li>
				<li class="nav-item"><a class="nav-link" href="#">A Propos</a></li>
			</ul>
		</div>
	</nav>

	{# @TODO: Menu connexion, gestion des sessions #}
	{% if connected %}
		<!-- navbar connected-->
		<nav class="navbar center navbar-toggleable-md navbar-light bg-faded">
			<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse d-flex justify-content-center" id="navbarNav">
				<ul class="navbar-nav text-center">
					<li class="nav-item"><a class="nav-link" href="">Mes informations</a></li>
					<li class="nav-item"><a class="nav-link" href="note.php">Mes notes</a></li>
					<li class="nav-item"><a class="nav-link" href="#">Emploi du temps</a></li>
					<li class="nav-item"><a class="nav-link" href="#">Messagerie</a></li>
					<li class="nav-item"><a class="nav-link" href="#">Cours en ligne</a></li>
				</ul>
			</div>
		</nav>
	{% else %}
		
	{% endif %}
		<div class="row">
			{% block content %}
			{% endblock %}
		</div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</body>
</html>
