{% extends 'template.html.twig' %}

{% block content %}
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h1>Vie sur le campus</h1>
		</div>
	</div>

{% endblock %}

{% block javascript %}
$('.carousel').carousel({
  interval: 4000
})
{% endblock %}
