{% extends 'template.html.twig' %}

{% block content %}
	{% if (usertype == 1) %}
	<div id="abs">
		<table>
				<tr>
					<th> Nom </th>
					<th> Prénom </th>
					<th> Absent(e) </th>
				</tr>
				<button id="absButton" class="mx-auto" type="submit">Envoyer </button>
			</table>
		</div>
		<div id="choix">
			<div class="row bg-danger text-center" style="margin-bottom: 10px;" id="warn"></div>
			<div class="mx-auto w-25">
				<label for"date" class="d-inline"> date </label>
				<input id="date" class="d-block" type ="text" placeholder="dd/mm/yyyy">
			</div>
			<div class="mx-auto w-25">
				<label for"dheure" class="d-inline"> heure début (24 heures format) </label>
				<input id="dheure"  class="d-block" type ="text" placeholder="hh:mm">
			</div>
			<button id="submit" class="mx-auto" type="submit">Envoyer </button>
		</div>
	{% elseif (usertype == 2) %}
		<table>
			<tr> 
				 <th> Nom et prénom </th>
				 <th> Matière </th>
				 <th> Jour et heure </th>
				 <th> Justifier </th>
			</tr>
		</table>
	{% else %}
		<p> Une erreur est survenue ! </p>
	{% endif %}
{%endblock%}

{% block javascript %}
$(function() {
    var auj = new Date();
	var day = auj.getDate()<10? "0"+auj.getDate() : auj.getDate();
	var month = auj.getMonth()<9? "0"+(auj.getMonth()+1) : auj.getMonth()+1;
	var year = auj.getFullYear();
	$('#date').val(day+"/"+month+"/"+year);
});
$("#submit").on("click",function(){
	if($('#date').val().length === 10 && $('#date').val().charAt(2) == "/" && $('#date').val().charAt(5) == "/" && $('#dheure').val().length == 5 && $('#dheure').val().charAt(2)==":"){
		var date = $('#date').val().split("/")
		jour = date[0];
		mois = date[1];
		annee = date[2];
		if(checkDate(jour,mois,annee)){
			var time = $('#dheure').val(); 
			dheure = time.split(":")[0];
			dminute = time.split(":")[1];
			if(checkHour(dheure,dminute)){
				var req = $.ajax({
							url: "/api/getEleves.php",
	               			 method: "GET",
	               			 data: {"jour": jour, "mois": mois, "annee":annee, "dheure": dheure, "dminute": dminute},
	                		contentType: "application/json; charset=utf-8"
									 
				});

				req.done(function(res){
					console.log(res);
					var table = document.getElementsByTagName("table")[0];
					document.getElementById("choix").style.display = "none";
					document.getElementById("absButton").style.display = "inline";
					table.style.display = "block";
					for(eleve in res){
						ligne = document.createElement("tr");
						nom = document.createElement("td");
						prenom = document.createElement("td");
						abs = document.createElement("td");
						nom.appendChild(document.createTextNode(res[eleve].nom.toUpperCase()));
						prenom.appendChild(document.createTextNode(res[eleve].prenom));
						button = document.createElement("input");
						button.setAttribute("type","checkbox");
						button.setAttribute("name", "abs[]");
						button.setAttribute("value", res[eleve].id);
						abs.appendChild(button);
						ligne.appendChild(nom);
						ligne.appendChild(prenom);
						ligne.appendChild(abs);
						table.appendChild(ligne);
						table.className += "table table-responsive";
					}
					$("#abs").append($("#absButton"));

				});

				req.fail(function(res){
					alert("Une erreure est survenue 1");
				});
			} else {
				$('#warn').html("Heure de début non valie");
				document.getElementById("warn").style.display = "block";
				$('#dheure').val("");
			}
		} else {
			$('#warn').html("Jour non valide");
			document.getElementById("warn").style.display = "block";
			$('#date').val("");
		}
	} else {
		$('#warn').html("Format non respecté");
		document.getElementById("warn").style.display = "block";
		$('#date').val("");
		$('#heure').val("");
	}
	setTimeout(function(){document.getElementById("warn").style.display = "none"},5000);
});

$("#absButton").on("click",function(){
		var select = [];
		$(":checked").each(function(){
			select.push($(this).val());
		});
		select = select.join('+');

		var req = $.ajax({
			url: "/api/setAbsences.php",
			method: "GET",
			data: {"absents" : select, "jour" : jour, "mois" : mois , "annee" : annee, "dheure" : dheure, "dminute" : dminute},
			contentType: "application/json; charset=utf-8"
													 
		});

		req.done(function(res){
		});

		req.fail(function(res){
			alert("Une erreur est survenue");
		});
	});

function checkDate(j,m,a){
		if(m==1||m==3||m==5||m==8||m==7||m==10||m==12){
				return j>0 && j<32;
		}
		if(m==4||m==6||m==9||m==11){
				return j>0 && j<31;
		}
		if((a%4==0 && a%100!=0) || a%400){
			return j>0 && j<29;
		} else {
			return j>0 && j<28;
		}
		return false;
	}

	function checkHour(h,m){
		return h>-1 && h<24 && m > -1 && m<60; 
	}
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="/assets/css/absencesmanager.css">
{% endblock %}

{% block lnkjavascript %}
	{% endblock %}
