{% extends 'template.html.twig' %}
 {% block stylesheets %}
     <link href="https://cdn.quilljs.com/1.3.4/quill.snow.css" rel="stylesheet">
     <link href="/assets/css/rolling.css" rel="stylesheet">
 {% endblock %}
{% block content %}
    <div id="backRolling">
        <img src="/assets/img/rolling.gif" alt="Responsive image" class="img-fluid"
             id="changeRolling">
    </div>
    <h1 class="text-center card m-3 bg-white">Edition des formations et des matières</h1>
    <div class="d-flex justify-content-around">
        <div class="col-lg-4 col-6 d-flex flex-column card m-lg-3 m-1 mt-2 mb-2 p-2">
            <div class="d-flex justify-content-between">
                <label for="formation">Formation</label>
                <i id="removeFormation" data-feather="x" color="red" style="display: none"></i>
                <i id="addFormation" data-feather="check" color="green" style="display: none"></i>
            </div>
            <select class="select w-100" id="formation" size="5">
                {% for formation in formations %}
                    <option value="{{ formation.IdFormation }}">{{ formation.NomFormation }}</option>
                {% endfor %}
            </select>
            <input id="addInputFormation" type="text" class="form-control mt-2" placeholder="Ajouter une formation">
            <div class="invalid-feedback">
                Une formation doit avoir un nom
            </div>

            <button id="editFormation" class="btn btn-primary mt-2" type="button">Edition d'une
                formation
            </button>
            <button id="cancel" class="btn btn-primary mt-2" type="button" style="display: none">annuler
            </button>


        </div>
        <div class="col-lg-4 col-6 d-flex flex-column card m-lg-3 m-1 mt-2 mb-2 p-2" style="visibility:hidden"
             id="blockMatiere">
            <div class="d-flex justify-content-between">
                <label for="matiere">Matiere</label>
                <i id="removeMatiere" data-feather="x" color="red" style="display:none;"></i>
                <i id="addMatiere" data-feather="check" color="green" style="display:none;"></i>
            </div>
            <select class="select w-100 h-100" id="matiere" size="5">

            </select>

            <input id="addInputMatiere" type="text" class="form-control mt-2" placeholder="Ajouter une matière">
            <div class="invalid-feedback">
                Une matière doit avoir un nom
            </div>

        </div>
    </div>

    <!--jquill editor-->
    <div class="mb-5">
        <div id="editor" class="col-9 m-auto" style="display: none">
            <h4 class="m-2">Veuillez saisir ou modifier la description</h4>
            <p class="text-warning add d-none">Veuillez remplir tous les champs obligatoires</p>
            <div class="input-group mb-2">
                <span class="input-group-addon" id="basic-addon1">Durée de la formation</span>

                <input name="duree" id="duree" type="text" class="form-control" placeholder="Durée"
                       aria-label="Duree"
                       aria-describedby="basic-addon1">
            </div>
            <div class="warning " id="editDescriptionFormation" style="min-height: 200px; height: 200px">
            </div>
        </div>
    </div>



{% endblock %}
{% block lnkjavascript %}
    <script src="https://cdn.quilljs.com/1.3.4/quill.js"></script>
    <script src="/assets/js/image-resize.min.js"></script>
    <script>


        $(document).ready(function () {
            function warningDescripition(quill, warningClass, textWarning) {
                if (quill.getLength() == 1) {
                    warningClass.addClass("border border-warning p-2 ");
                    textWarning.addClass("d-block p-1");
                    return false;
                } else {
                    warningClass.removeClass("border border-warning p-2");
                    return true
                }
            }

            function warningDuree(warningClass, textWarning) {
                if (warningClass.val() == "") {
                    warningClass.addClass("border border-warning p-2");
                    textWarning.addClass("d-block p-1");
                    return false;
                } else {
                    warningClass.removeClass("border border-warning p-2");
                    return true;
                }

            }

            function disabled(disable) {
                if (disable) {
                    $("#editFormation")
                        .text("Confirmer")
                        .removeClass("btn-primary")
                        .addClass("btn-danger");
                    $("#formation").attr("disabled", "disabled");
                    $("#matiere").attr("disabled", "disabled");
                    $("#addInputFormation").attr("disabled", "disabled");
                    $("#addInputMatiere").attr("disabled", "disabled");
                    $("#removeFormation").fadeOut(1);
                    $("#removeMatiere").fadeOut(1);
                } else {
                    $("#editFormation")
                        .text("Edition d'une formation")
                        .removeClass("btn-danger")
                        .addClass("btn-primary");
                    $("#formation").removeAttr("disabled");
                    $("#matiere").removeAttr("disabled");
                    $("#addInputFormation").removeAttr("disabled");
                    $("#addInputMatiere").removeAttr("disabled");
                    $("#cancel").fadeOut(1);
                }
            }

            var toolbarOptions = [[{'font': []}], [{'size': ['small', false, 'large', 'huge']}], [{'align': []}, {'list': 'ordered'}, {'list': 'bullet'}], ['bold', 'italic', 'underline', 'strike'], [{'color': []}], ['link', 'image'], ['clean']];
            var quill = new Quill('#editDescriptionFormation', {
                theme: 'snow',
                modules: {
                    imageResize: {modules: ['Resize']},
                    toolbar: toolbarOptions
                }
            });

            $("#cancel").click(function () {
                disabled(false);
                $("#editor").fadeOut();
            });

            $("#editFormation.btn-primary").click(function () {
                if ($("#editFormation").hasClass("btn-primary")) {
                    var requestGetDescription = $.ajax({
                        url: "/api/getdescriptiondureeformation.php",
                        method: "POST",
                        data: {idFormation: $("#formation").val()}
                    });

                    requestGetDescription.done(function (res) {
                        if(res.description != null ) {
                            quill.setContents(JSON.parse(res.description));
                        }else{
                            quill.setContents("");
                        }

                        if(res.duree != null){
                            $("#duree").val(res.duree);
                        }else {
                            $("#duree").val("");
                        }
                        if ($("#formation").val() != null) {
                            $("#editor").fadeIn("slow");
                            disabled(true);
                            $("#cancel").fadeIn(1);
                        }
                        else {
                            $("#formation").val($("#formation option:first").val());
                            $("#formation").focus();
                            $("#formation").change();
                            disabled(true);
                            $("#cancel").fadeIn(1);
                            $("#editor").fadeIn("slow");

                        }

                    });

                    requestGetDescription.fail(function () {
                        alert("Une erreur est survenue");
                    });


                } else {

                    description = warningDescripition(quill, $('.warning'), $('.add'));
                    duree = warningDuree($('#duree'), $('.add'));

                    if(duree && description){
                        $("#backRolling").css("visibility", "visible");
                        var requestAddDescription = $.ajax({
                            url: "/api/updatedescriptionformation.php",
                            method: "POST",
                            data: {idFormation: $("#formation").val(), description: JSON.stringify(quill.getContents()), duree : $("#duree").val()}
                        });

                        requestAddDescription.done(function () {
                            $("#backRolling").css("visibility", "hidden");
                            $("#editor").fadeOut();
                            disabled(false);
                        });

                        requestAddDescription.fail(function () {
                            $("#backRolling").css("visibility", "hidden");
                            alert("Une erreure est survenue");
                        })
                    }
                }
            });


            //evenement selection d'une formation
            $("#formation").change(function () {
                $("#removeMatiere").fadeOut(1);
                $("#backRolling").css("visibility", "visible");

                //mise a jour des matieres
                var requestMatiere = $.ajax({
                    url: "/api/getmatieres.php",
                    method: "POST",
                    data: {idFormation: $("#formation").val()}
                });

                requestMatiere.done(function (res) {
                    $("#backRolling").css("visibility", "hidden");
                    $("#matiere").empty();
                    for (i = 0; i < res.length; i++) {
                        $("#matiere").append(new Option(res[i].nomMatiere, res[i].idMatiere));
                    }

                    if ($("#blockMatiere").css("visibility") == "hidden")
                        $("#blockMatiere").css('visibility', 'visible').hide().fadeIn();
                });

                requestMatiere.fail(function () {
                    $("#backRolling").css("visibility", "hidden");
                    $("#matiere").empty();
                    if ($("#blockMatiere").css("visibility") == "hidden")
                        $("#blockMatiere").css('visibility', 'visible').hide().fadeIn();

                })

            });

            //evenement selection d'une matiere
            $("#matiere").change(function () {
                $("#removeMatiere").fadeIn();
                $("#addMatiere").fadeOut(1);
                $("#removeFormation:visible").fadeOut(1);
            });

            //evenement focus sur le champs d'une formation
            $("#addInputFormation").focus(function () {
                $("#addFormation").css("opacity", "0.5");
                $("#addInputFormation").addClass("is-invalid");
                $("#removeFormation").fadeOut(1);
                $("#addFormation").fadeIn();
                $("option:selected").prop("selected", false);
                if ($("#blockMatiere").css("visibility") == "visible") {
                    $("#blockMatiere").css('visibility', 'hidden').hide().fadeOut();
                }
                $("#matiere").empty();

            });

            //evenement blur champs d'une matiere
            $("#addInputMatiere").blur(function () {
                $("#addInputMatiere")
                    .removeClass("is-invalid");


            });

            //evenement blur champs d'une formation
            $("#addInputFormation").blur(function () {
                $("#addInputFormation")
                    .removeClass("is-invalid");

            });

            //evenement focus sur le champs d'une matiere
            $("#addInputMatiere").focus(function () {
                $("#addMatiere").css("opacity", "0.5");
                $("#addInputMatiere").addClass("is-invalid");
                $("#removeMatiere").fadeOut(1);
                $("#addMatiere").fadeIn();
                $("#removeFormation:visible").fadeOut(1);

            });

            //ajout d'une formation
            $("#addFormation").click(function () {

                if ($("#addInputFormation").val() == "") {
                    console.log("Formation vide");
                    $("#addInputFormation").focus();
                    return false;
                } else {
                    $("#backRolling").css("visibility", "visible");
                    var requestAddFormation = $.ajax({
                        url: "/api/addformation.php",
                        method: "POST",
                        data: {nomFormation: $("#addInputFormation").val()}
                    });

                    requestAddFormation.done(function (res) {
                        $("#formation").append(new Option($("#addInputFormation").val(), res.id, false, true));
                        $("#formation").change();
                        $("#addInputFormation").val("");
                        $("#addFormation").fadeOut(1);
                        $("#removeFormation").fadeIn();
                        $("#backRolling").css("visibility", "hidden");
                    });

                    requestAddFormation.fail(function () {
                        alert("Une erreur est survenue");
                        $("#backRolling").css("visibility", "hidden");

                    });
                }
            });

            //supression d'une formation
            $("#removeFormation").click(function () {
                $("#backRolling").css("visibility", "visible");

                var requestRemoveFormation = $.ajax({
                    url: "/api/removeformation.php",
                    method: "POST",
                    data: {idFormation: $("#formation").val()}
                });

                requestRemoveFormation.done(function () {
                    $("#backRolling").css("visibility", "hidden");
                    $("option[value~='" + $("#formation").val() + "']").remove();
                    $("#removeFormation").fadeOut(1);
                    $("#formation").val($("#formation option:first").val());
                    $("#matiere").empty();
                    if ($("#blockMatiere").css("visibility") == "visible") {
                        $("#blockMatiere").css('visibility', 'hidden').hide().fadeOut();
                    }
                });

                requestRemoveFormation.fail(function () {
                    $("#backRolling").css("visibility", "hidden");

                    alert("Une erreur est survenue");
                });
            });

            $("#formation").click(function () {
                    $("#addFormation").fadeOut(1);
                    $("#removeFormation").fadeIn();
                    $("#formation").change();
            });

            $("#matiere").click(function () {
                if(!$("#matiere").val() == "") {
                    $("#addMatiere").fadeOut(1);
                    $("#removeMatiere").fadeIn();
                }
            });

            //ajout d'une matiere
            $("#addMatiere").click(function () {

                if ($("#addInputMatiere").val() == "") {
                    console.log("matiere vide");
                    $("#addInputMatiere").focus();
                    return false;
                } else {
                    $("#backRolling").css("visibility", "visible");
                    var requestAddMatiere = $.ajax({
                        url: "/api/addMatiere.php",
                        method: "POST",
                        data: {idFormation: $("#formation").val(), nomMatiere: $("#addInputMatiere").val()}
                    });

                    requestAddMatiere.done(function (res) {
                        $("#backRolling").css("visibility", "hidden");
                        $("#matiere").append(new Option($("#addInputMatiere").val(), res.id, false, true));
                        $("#matiere").change();
                        $("#addInputMatiere").val("");
                    });

                    requestAddMatiere.fail(function () {
                        $("#backRolling").css("visibility", "hidden");
                        alert("une erreur est survenue");
                    });
                }
            });

            //supression d'une matière
            $("#removeMatiere").click(function () {
                $("#backRolling").css("visibility", "visible");
                var requestRemoveMatiere = $.ajax({
                    url: "/api/removematiere.php",
                    method: "POST",
                    data: {idMatiere: $("#matiere").val()}
                });

                requestRemoveMatiere.done(function () {
                    $("#backRolling").css("visibility", "hidden");
                    $("option[value~='" + $("#matiere").val() + "']").remove();
                    $("#removeMatiere").fadeOut(1);
                    $("#matiere").val($("#matiere option:first").val());
                });

                requestRemoveMatiere.fail(function () {
                    $("#backRolling").css("visibility", "hidden");
                    alert("une erreur est survenue");
                })
            });


            $("#addInputFormation").keyup(function () {
                if ($("#addInputFormation").val() != "") {
                    $("#addInputFormation").removeClass("is-invalid");
                    $("#addFormation").css("opacity", "1");
                }

                else {
                    $("#addInputFormation").addClass("is-invalid");
                    $("#addFormation").css("opacity", "0.5");
                }
            });


            $("#addInputMatiere").keyup(function () {
                if ($("#addInputMatiere").val() != "") {
                    $("#addInputMatiere").removeClass("is-invalid");
                    $("#addMatiere").css("opacity", "1");
                }

                else {
                    $("#addInputMatiere").addClass("is-invalid");
                    $("#addMatiere").css("opacity", "0.5");
                }
            });

        });
    </script>
{% endblock %}