{% extends 'template.html.twig' %}

 {% block stylesheets %}
     <link href="https://cdn.quilljs.com/1.3.4/quill.snow.css" rel="stylesheet">
 {% endblock %}

{% block content %}

    <h1>Ajouter une news</h1>
    <!-- Create the editor container -->
    <div class="nav bg-light nav-pills p-2" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link active" id="v-pills-add-tab" data-toggle="pill" href="#v-pills-add" role="tab"
           aria-controls="v-pills-add" aria-selected="true">Ajouter</a>
        <a class="nav-link" id="v-pills-modified-tab" data-toggle="pill" href="#v-pills-modified" role="tab"
           aria-controls="v-pills-modified" aria-selected="false">Modifier</a>
    </div>
    <div class="tab-content" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="v-pills-add" role="tabpanel" aria-labelledby="v-pills-add-tab">
            {% if success==true %}
                <h2 class="bg-success">New poster</h2>
            {% endif %}
            <form class="container-fluid col-12 col-md-8 m-auto d-flex flex-column pb-5 pt-5 " id="addNews"
                  action="/perso/newsmanager.php" method="post">
                <div class="input-group mb-2">
                    <span class="input-group-addon" id="basic-addon1">Titre</span>

                    <input name="titre" id="titre" type="text" class="form-control" placeholder="Titre"
                           aria-label="Titre"
                           aria-describedby="basic-addon1">
                </div>

                    <!--bbcode editor-->
                    <div class="col-12 warning" id="editor" style="min-height: 200px">
                    </div>

                <p class="text-warning d-none">Veuillez remplir tous les champs obligatoires</p>
                <input id="description" name="description" value="" hidden>
                <button type="submit" class="btn btn-primary col-5 col-lg-3 mt-3 ">Ajouter</button>
            </form>
        </div>
        <div class="tab-pane fade" id="v-pills-modified" role="tabpanel" aria-labelledby="v-pills-modified-tab">
        </div>
    </div>

{% endblock %}

{% block lnkjavascript %}
    <script src="https://cdn.quilljs.com/1.3.4/quill.js"></script>
    <script src="/assets/js/image-resize.min.js"></script>
    <script>
        var toolbarOptions = [[{'font': []}], [{'size': ['small', false, 'large', 'huge']}], [{'align': []}, {'list': 'ordered'}, {'list': 'bullet'}], ['bold', 'italic'], ['link', 'image']];
        var quill = new Quill('#editor', {
            theme: 'snow',
            modules: {
                imageResize: {modules: ['Resize']},
                toolbar: toolbarOptions
            }
        });

        document.forms["addNews"].onsubmit = function () {
            //récuperation du contenue
            varToSend = quill.getContents();
            varToSend = JSON.stringify(varToSend);

            //modification de se que l'on envoie
            $("#description").attr("value", varToSend);

            if (quill.getLength() == 1) {
                $('.warning').addClass("border border-warning p-2 ");
                $('.text-warning').addClass("d-block p-1");
                return false;
            }
            if ($('#titre').val() == "") {
                $('#titre').addClass("border border-warning p-2 ");
                $('.text-warning').addClass("d-block p-1");
                return false;
            }
        }
    </script>
{% endblock %}