{% extends 'template.html.twig' %}
{% block content %}
    <div class="d-flex justify-content-around">
        <div class="col-lg-4 col-6 d-flex flex-column card m-lg-3 m-1 mt-2 mb-2 p-2">
            <div class="d-flex justify-content-between">
                <label for="formation">Formation</label>
                <i id="removeFormation" data-feather="x" color="red" style="display: none"></i>
                <i id="addFormation" data-feather="check" color="green" style="display: none"></i>
            </div>
            <select class="select w-100" id="formation" size="5">
                {% for formation in formations %}
                    <option value="{{ formation.IdFormation }}">{{ formation.NomFormation }}</option>
                {% endfor %}
            </select>
            <input id="addInputFormation" type="text" class="form-control mt-2" placeholder="Ajouter une formation">
        </div>
        <div class="col-lg-4 col-6 d-flex flex-column card m-lg-3 m-1 mt-2 mb-2 p-2">
            <div class="d-flex justify-content-between">
                <label for="matiere">Matiere</label>
                <i id="removeMatiere" data-feather="x" color="red" style="display:none;"></i>
                <i id="addMatiere" data-feather="check" color="green" style="display:none;"></i>
            </div>
            <select class="select w-100" id="matiere" size="5">

            </select>
            <input id="addInputMatiere" type="text" class="form-control mt-2" placeholder="Ajouter une matière">

        </div>
    </div>
{% endblock %}
{% block lnkjavascript %}
    <script>
        $(document).ready(function () {

            //evenement selection d'une formation
            $("#formation").change(function () {
                $("#removeFormation").fadeIn();
                $("#addFormation").fadeOut(1);

                //mise a jour des matieres
                var requestMatiere = $.ajax({
                    url: "/api/getmatieres.php",
                    method: "POST",
                    data: {idFormation: $("#formation").val()}
                });

                requestMatiere.done(function (res) {
                    $("#matiere").empty();
                    for (i = 0; i < res.length; i++) {
                        $("#matiere").append(new Option(res[i].nomMatiere, res[i].idMatiere));
                    }

                });

                requestMatiere.fail(function () {
                    $("#matiere").empty();
                })

            });

            //evenement selection d'une matiere
            $("#matiere").change(function () {
                $("#removeMatiere").fadeIn();
                $("#addMatiere").fadeOut(1);
            });

            //evenement focus sur le champs d'une formation
            $("#addInputFormation").focus(function () {
                $("#removeFormation").fadeOut(1);
                $("#addFormation").fadeIn();

            });

            //evenement blur champs d'une matiere
            $("#addInputMatiere").blur(function () {
                if ($("#addInputMatiere").val() == "") {
                    $("#addMatiere").fadeOut(1);
                    $("#removeMatiere").fadeIn();
                }
            });

            //evenement blur champs d'une formation
            $("#addInputFormation").blur(function () {
                if ($("#addInputFormation").val() == "") {
                    $("#addFormation").fadeOut(1);
                    $("#removeFormation").fadeIn();
                }

            });

            //evenement focus sur le champs d'une matiere
            $("#addInputMatiere").focus(function () {
                $("#removeMatiere").fadeOut(1);
                $("#addMatiere").fadeIn();
            });

            //ajout d'une formation
            $("#addFormation").click(function () {
                res = true;
                if ($("#addInputFormation").val() == "") {
                    console.log("Formation vide");
                    res = false;
                } else {
                    var requestAddFormation = $.ajax({
                        url: "/api/addformation.php",
                        method: "POST",
                        data: {nomFormation: $("#addInputFormation").val()}
                    });

                    requestAddFormation.done(function(res){
                        $("#formation").append(new Option($("#addInputFormation").val(),res.id,false,true));
                        $("#formation").change();
                        $("#addInputFormation").val("");
                    });

                    requestAddFormation.fail(function () {
                        alert("Une erreur est survenue");
                    });


                }
                return res;
            });

            //supression d'une formation
            $("#removeFormation").click(function () {
                var requestRemoveFormation = $.ajax({
                    url: "/api/removeformation.php",
                    method: "POST",
                    data: {idFormation: $("#formation").val()}
                });

                requestRemoveFormation.done(function(res){
                    $("option[value~='" + $("#formation").val() + "']").remove();
                    $("#removeFormation").fadeOut(1);
                });

                requestRemoveFormation.fail(function () {
                    alert("Une erreur est survenue");
                });
            });

            //ajout d'une matiere
            $("#addMatiere").click(function () {
                res = true;
                if ($("#addInputMatiere").val() == "") {
                    console.log("matiere vide");
                    res = false;
                } else {
                    $("#matiere").append(new Option($("#addInputMatiere").val(),"id",false,true));
                    $("#matiere").change();
                    $("#addInputMatiere").val("");

                }
                return res;
            });


        });
    </script>
{% endblock %}