{% extends 'template.html.twig' %}

{% block javascripts %}
	<script src="/assets/js/moment.min.js"> </script>
	<script src="/assets/js/ical.min.js"> </script>
{% endblock %}

{% block content %}

	<div class="mt-5 row" id="cal">

		<div class="col-4 text-center" onclick="remOne()">
			<i data-feather="arrow-left-circle"></i>
		</div>

		<div class="col-4 text-center" id="sem"> </div>

		<div class="col-4 text-center" onclick="plusOne()">
			<i data-feather="arrow-right-circle"></i>
		</div>

		<table class="col-12 col-lg-10 offset-lg-1 mt-4 text-center table table-dark" style="display: overflow;">
			<thead>
				<tr>
					<th scope="col"></th>
					<th scope="col" id="monday">Lundi</th>
					<th scope="col" id="tuesday">Mardi</th>
					<th scope="col" id="wednesday">Mercredi</th>
					<th scope="col" id="thursday">Jeudi</th>
					<th scope="col" id="friday">Vendredi</th>
					<th scope="col" id="saturday">Samedi</th>
				</tr>
			</thead>
			<tbody id="cald">
			</tbody>
		</table>
	</div>
	<script>
		var username = '{{ user.username }}';
	</script>
{% endblock %}

{% block lnkjavascript %}
	<script src="/assets/js/edt.js"> </script>
{% endblock %}
