{% extends 'template.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" href="/assets/css/fullcalendar.min.css"/>
{% endblock %}

{% block javascripts %}
	<script src="/assets/js/moment.min.js"> </script>
	<script src="/assets/js/ical.min.js"> </script>
	<script src="/assets/js/ical_events.js"> </script>
	<script src="/assets/js/ical_fullcalendar.js"> </script>
{% endblock %}

{% block content %}
	<div id="calendar" class="col-lg-10 offset-lg-1 col-12 offset-0"> </div>
{% endblock %}

{% block lnkjavascript %}
	<script>
$(document).ready(function() {
	$('#calendar').fullCalendar({
		defaultView: "agendaWeek"
	})

$.ajax({
	url: '/api/getcal.php?user=' + "{{ user.username }}",
	type: 'GET',
	success: function(tx, status){
		console.log("downloaded");
		$('#calendar').fullCalendar('addEventSource', fc_events(tx, {}));
	},
	error: function(res, status, err){
		console.log(err);
	}
});

});
</script>
	<script src="/assets/js/fullcalendar.min.js"> </script>
{% endblock %}

