{% extends 'template.html.twig' %}

{% block javascripts %}
	<script src="/assets/js/moment.min.js"> </script>
	<script src="/assets/js/ical.min.js"> </script>
{% endblock %}

{% block content %}

	<div class="mt-5 row" id="cal">

		<div class="col-4 text-center" onclick="remOne()">
			<i data-feather="arrow-left-circle"></i>
		</div>

		<div class="col-4 text-center" id="sem"> </div>

		<div class="col-4 text-center" onclick="plusOne()">
			<i data-feather="arrow-right-circle"></i>
		</div>

		<table class="col-12 col-lg-10 offset-lg-1 mt-4 text-center table table-dark" style="display: overflow;">
			<thead>
				<tr>
					<th scope="col"></th>
					<th scope="col" id="monday">Lundi</th>
					<th scope="col" id="tuesday">Mardi</th>
					<th scope="col" id="wednesday">Mercredi</th>
					<th scope="col" id="thursday">Jeudi</th>
					<th scope="col" id="friday">Vendredi</th>
					<th scope="col" id="saturday">Samedi</th>
				</tr>
			</thead>
			<tbody id="cald">
			</tbody>
		</table>
	</div>

{% endblock %}

{% block javascript %}

	var date = moment();
	var edt = [];

	var weekDays = [ "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday" ];

	function fillWithWeek(date){
		var cal = document.getElementById("cald");

		while(cal.firstChild){
			cal.removeChild(cal.firstChild);
		}

		var date = moment(date).week("isoweek");

		$("#sem").text("Semaine " + date.week());

		$("#monday").text("Lundi " + date.day("Monday").format("DD/MM"));
		$("#tuesday").text("Mardi " + date.day("Tuesday").format("DD/MM"));
		$("#wednesday").text("Mercredi " + date.day("Wednesday").format("DD/MM"));
		$("#thursday").text("Jeudi " + date.day("Thursday").format("DD/MM"));
		$("#friday").text("Vendredi " + date.day("Friday").format("DD/MM"));
		$("#saturday").text("Samedi " + date.day("Saturday").format("DD/MM"));

		for (i = 0; i<edt.length; i++){
	  		console.log(moment(edt[i].startDate.toJSDate()))
	  	}

		for (i = 8; i <= 21; i++){
			var tr = document.createElement("tr");
			var th = document.createElement("th")
			th.setAttribute("scope", "row");
			th.innerText = i + "h - " + (i+1) + "h";

			tr.appendChild(th);

			// Chaque jour de chaque heure
			for (curD in weekDays){
				day = date.day(weekDays[curD]);
				a = document.createElement("td");
				a.style.height="100px";
				found = false;
				count = 0;
				while (!found && count < edt.length){
					currentDate = edt[count].startDate.toJSDate();
					if (((moment(currentDate)).format("DDMMYYYY") == moment(day).format("DDMMYYYY")) && currentDate.getHours() == i){
						found = edt[count];
					}
					++count;
				}
				if (found)
	  a.innerHTML = "<span style='display:inline-block'>" + found.summary + "</span><span style='display:inline-block; font-size: 12px; overflow: hidden;'>" + found.description.replace(/\n/g, '<br />') + "</span>";
				tr.appendChild(a);
			}
			cal.appendChild(tr);
		}
	}

	function plusOne(){
		date = date.add(1, 'week');
		fillWithWeek(date);
	}

	function remOne(){
		date = date.subtract(1, "week");
		fillWithWeek(date);
	}

	$.ajax({
		url: '/api/getcal.php?user={{ user.username }}',
		type: 'GET',
		success: function(tx, status){
			var jcal = ICAL.parse(tx);
			comp = new ICAL.Component(jcal);

			$.each(comp.getAllSubcomponents("vevent"), function(a, b){
				edt.push(new ICAL.Event(b));
			});

			fillWithWeek(date);
		},
		error: function(res, status, err){
			console.log(err);
		}
	});
{% endblock %}

